/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: blue;
} */
.mandir-photo {
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: center;
  display: block;
}
